allow hal_custom_hwcontrol_default vendor_sysfs_keyboard:dir { getattr search open };
allow hal_custom_hwcontrol_default vendor_sysfs_keyboard:{file lnk_file} rw_file_perms;
allow hal_custom_hwcontrol_default nabu_sysfs_touchpanel:dir search;
allow hal_custom_hwcontrol_default nabu_sysfs_touchpanel:file rw_file_perms;
